<?xml version="1.0"?>
<launch>
    
    <arg name="ROBOTS_NUM" default="3" />
    <arg name="CLUSTERS_NUM" default="4" />
    <arg name="OBSTACLES_NUM" default="2" />
    <arg name="ROBOT_RANGE" default="100.0" />
    <arg name="ROBOT_FOV" default="360.0" />

    <node name="virtual_agent_0"  pkg="formation_control" type="virtual_agent">
        <param name="ROBOT_ID" value="0" />
        <param name="ROBOTS_NUM" value="$(arg ROBOTS_NUM)" />
        <param name="CLUSTER_ID" value="0" />
        <param name="CLUSTERS_NUM" value="$(arg CLUSTERS_NUM)" />
        <param name="OBSTACLES_NUM" value="$(arg OBSTACLES_NUM)" />
        <remap from="/virtual_agent" to="/cluster0/virtual_agent" />
    </node>

    <node name="virtual_agent_1"  pkg="formation_control" type="virtual_agent">
        <param name="ROBOT_ID" value="3" />
        <param name="ROBOTS_NUM" value="$(arg ROBOTS_NUM)" />
        <param name="CLUSTER_ID" value="1" />
        <param name="CLUSTERS_NUM" value="$(arg CLUSTERS_NUM)" />
        <param name="OBSTACLES_NUM" value="$(arg OBSTACLES_NUM)" />
        <remap from="/virtual_agent" to="/cluster1/virtual_agent" />
    </node>

    <node name="virtual_agent_2"  pkg="formation_control" type="virtual_agent">
        <param name="ROBOT_ID" value="6" />
        <param name="ROBOTS_NUM" value="$(arg ROBOTS_NUM)" />
        <param name="CLUSTER_ID" value="2" />
        <param name="CLUSTERS_NUM" value="$(arg CLUSTERS_NUM)" />
        <param name="OBSTACLES_NUM" value="$(arg OBSTACLES_NUM)" />
        <remap from="/virtual_agent" to="/cluster2/virtual_agent" />
    </node>

    <node name="virtual_agent_3"  pkg="formation_control" type="virtual_agent" output="screen">
        <param name="ROBOT_ID" value="9" />
        <param name="ROBOTS_NUM" value="$(arg ROBOTS_NUM)" />
        <param name="CLUSTER_ID" value="3" />
        <param name="CLUSTERS_NUM" value="$(arg CLUSTERS_NUM)" />
        <param name="OBSTACLES_NUM" value="$(arg OBSTACLES_NUM)" />
        <remap from="/virtual_agent" to="/cluster3/virtual_agent" />
    </node>


</launch>